body {
    background: #ccc;
}

aside {
    float: right;
    background: #eba417;
    width: 25%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-left: 4px solid #616161
}

aside img {
    width: 150px;
    float: left;
}

aside .logo {
    font-size: 38px;
    margin-left: 5px;
    font-weight: bold;
    position: relative;
    top: +20px;
}

aside h3 {
    margin-top: 50px;
    margin-right: 30px;
    font_size: 100px;
}

aside ul {list-style: none}

aside ul a {text-decoration: none}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #a19fa1;
    text-decoration: none;
    transform: scale(1.07);
}

main .features {
    float: left;
    color: #404040;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}


.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 28%;
    width: 500px;
    margin-top: 50px;
}

.my-class {
    float: left;
    color: #404040;
    margin-top: 100px;
    font_size: 40px;
    text-align: center;
    width: 75%;
}