{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Hello!</h1>
        <p> I`m a review analyzer bot which created by machine learning methods.
            Click on the button bellow and then write a comment to the movie you watched in the text box below,
            and I'll try to determine if you liked it and rate your comment</p>
        <a href="{% url 'create' %}"><button class="btn btn-warning">Make review</button></a>
    </div>

{% endblock %}